#top-coin-img {
  float: right;
}

.card {
  margin-top: 10px;
  border-radius: 15px;
}

.card-body {
  background-color: rgb(43, 41, 41);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: rgb(43, 41, 41);
}

.card-text-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-text-item {
  margin-bottom: 6px !important;
}

.card-header {
  font-size: 24px;
  font-weight: bold;
}

.chart-container {
  margin-top: 60px;
  z-index: 0;
  width: 100%;
}

.live-price-increase {
  animation-name: priceIncreaseAnimation;
  animation-duration: 5s;
}

.live-price-decrease {
  animation-name: priceDecreaseAnimation;
  animation-duration: 5s;
}

@keyframes priceIncreaseAnimation {
  from {
    color: #76ff03;
  }
  to {
    color: white;
  }
}

@keyframes priceDecreaseAnimation {
  from {
    color: #ff5252;
  }
  to {
    color: white;
  }
}
