.navbarComp {
  background-color: rgb(43, 41, 41);
  width: 190px;
  height: 100vh;
  justify-content: center;
  float: left;
  position: sticky;
  top: 0;
}

.navbar-items {
  padding-left: 12px;
}

.navbar-item {
  padding-top: 30px;
  font-size: 1.25em;
  list-style: none;
}

.navlink {
  padding: 0.2rem 0.2rem;
  color: white;
  text-decoration: none !important;
}

.navlink:hover {
  background-color: transparent;
  color: rgb(202, 195, 195);
}

.active {
  color: #fb5462;
  font-weight: bold;
}

.banner {
  background-color: rgb(43, 41, 41);
  height: 50px;
}

.logo-icon {
  padding: 0.4rem 0.8rem;
  color: white;
  font-size: 1.75em;
  font-weight: bold;
  width: 100%;
  text-decoration: none !important;
}

.logo-icon:hover {
  color: white;
  text-decoration: none !important;
}

.account:hover {
  background-color: transparent;
  color: rgb(202, 195, 195);
}

span {
  margin-left: 13px;
  vertical-align: middle;
}
